@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fuente moderna SaaS */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
  color: #000000;
}

/* Scrollbar moderna */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #13d3e4;
  border-radius: 4px;
}